{% for hosts in groups['production'] %}
{{ hostvars[host][ansible_facts']['defaiult_ipv4']['address'] }} {{ hostvars[host]['ansbile_facts']['fqdn'] }} {{ hostvars[host]['ansible_facts']['hostname'] }}
{% endfor %}
