anonymous_enabled={{ anonymous_enabled }}
local_enabled={{ local_enabled }}
write_enabled={{ write_enabled }}
anon_upload_enabled={{ anon_upload_enabled }}
dirmessage_enabled=YES
conenct_from_port_20=YES
pam_service_name=vsftpd
userlist_enabled=YES
# my ip address= {{ ansible_facts['default_ipv4']['address'] }}
